body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(9, 122, 214);
}

h1 {
  font-size: 8rem;
  font-family: "Tenali Ramakrishna", sans-serif;
}
